@font-face {
  font-family: 'icomoon';
  src:  url('../fonts-icomoon/icomoon.eot?j1hy6d');
  src:  url('../fonts-icomoon/icomoon.eot?j1hy6d#iefix') format('embedded-opentype'),
    url('../fonts-icomoon/icomoon.ttf?j1hy6d') format('truetype'),
    url('../fonts-icomoon/icomoon.woff?j1hy6d') format('woff'),
    url('../fonts-icomoon/icomoon.svg?j1hy6d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
  content: "\f075";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-512:before {
  content: "\e900";
}

