@font-face {
  font-family: 'EY';
  src: url('EYInterstate-Bold.ttf');
}

@font-face {
  font-family: 'EY2';
  src: url('EYInterstate-Light.ttf');
}

body {
  padding-bottom: 0px;
  background-image: url('../images/background/blur/Blur-4.png');
  background-attachment:fixed;
  background-size: cover;
}

p > .btn-default {
  text-shadow: 0 0 2px #000000;
}


.content-wrapper {
  background-color: rgba(0,0,0,0.4);
}


/*
* Dropdown
*/

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.dropdown-menu {
  background-color: rgba(0,0,0,0.8);
  border-color: rgba(0,0,0,0.3);
}

.dropdown-menu > li > a {
  color: #ffffff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: rgba(0,0,0,0.65);
  color: #ffffff;
  border-bottom-color: rgba(0,0,0,0.65);
}

/*
* Sidebar
*/

.sidebar {
  background-color: rgba(0,0,0,0.55);
  color: #ffffff;
  font-size: 16px;
  font-weight: 200;
}

.sidebar-category {
  background-color: rgba(0,0,0,0);
  width: 99%;
}

/* Hack for the EY image*/
.sidebar-content > img {
  height: auto;
  width: 100%;
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

/*
* Navigation
*/

.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
  background-color: rgba(0,0,0,0);
  color: #ffffff;
  border-right: 6px solid #FED402 ;
}

.navigation > li > ul li.active > a, .navigation > li > ul li.active > a:hover, .navigation > li > ul li.active > a:focus {
  color: #ffffff;
}

.navigation li a {
  font-size: 16px;
  color: #ffffff;
  border-bottom: 0.5px solid rgba(0,0,0,0.2);
  font-weight: 200;
}

.navigation .navigation-header, .navigation .navigation-header a {
  text-transform: none;
  font-size: 16px;
  color: #ffffff;
  border-bottom: 0.5px solid rgba(0,0,0,0.2);
  border-top: 0.5px solid rgba(0,0,0,0.2);
  font-weight: 200;
}

.navigation li a > i {
  color: #ffffff;
}

/*
* Panel
*/

.panel {
  margin-bottom: 20px;
  border-color: #ddd;
  color: rgb(255,255,255);
  border-radius: 0px;
}

.panel-flat {
  background-color: rgba(0,0,0,0.35);
  border: 0px
}

.panel .row {
    margin-left: 0px;
    margin-right: 0px;  
}

.panel-body {
  color: #333;
}

.panel-flat .panel-heading .panel-title {
  color: #ffffff;
  font-weight: 200;
  font-size: 16px;
}

.panel-flat .panel-heading .heading-text {
  color: #ffffff;
  font-weight: normal;
  font-weight: 200;
  font-size: 16px;
  text-transform : none;
}

.panel .panel-heading {
  background-color: rgba(0,0,0,0);
  border-radius: 0px;
  border: 0px;
  border: 0.5px solid rgba(0,0,0,0.2);
  font-weight: 200;
  font-size: 16px;
}

/* TODO replace by default element*/
.panelHeadingIcon {
  top: 54%;
  left: 20px;
  width: 40px;

}

/* TODO replace by default element*/
.panelHeadingTxt {
  position: absolute;
  top: 50%;
  left: 60px;
  height: 36px;
  margin-top: -10px;
}

/*
* Table
*/

.table > thead {
  color:#FED402;
  font-weight: 700;
}

.table > tbody {
  font-weight: 500;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  color: rgba(50, 0, 0, 0);
}



.table-responsive {
  background-color: rgba(0,0,0,0);
  border: 0px;
}

/*
* showcase
*/

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .container {
  width: auto;
}

.nav-pills > .active > a {
  text-shadow: 0 0 2px #000000;
}

.badge {
  text-shadow: none;
}

.page-header {
font-size: 14px;
color:   #fff;
/*font-family: EY;*/
font-weight: bold;
}

.page-header-default {
  background-color: rgba(0,0,0,0);
  padding-top: 60px;
  padding-bottom: 45px;
  font-size: 35px;
  color: #ffffff;
  padding-left: 40px;
  font-weight: 200;
  -webkit-box-shadow: 0 0px 0 0;
    box-shadow: 0 0px 0 0;
    margin-bottom: 0px;
}


.jumbotron {
  background-color: rgba(0,0,0,0.35);
  border-radius: 0px;
  color: rgb(255,255,255); 
}

th {
  color: #FED402;
}

.badge:hover, .badge:focus {
  background-color: #fff;
  color: #FED402;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background-color: #fff;
  color: #FED402;
}

/*
* Navbar
*/

.navbar {
  width: auto;
  background-color: rgba(0, 0, 0, 0.498039);
  font-size: 17px;
}

navbar-inverse > .container {
  font-size: 14px;
  color: #fff;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  text-shadow: 0 0 2px #000000;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0 0 2px #000000;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:hover,
.navbar-inverse .navbar-nav .active a:focus {
  color: #fff;
  background-color: #D4BF00;
}

.navbar-brand > img {
  margin-top: 0px;
  height: 28px;
}

.fa-bars-menu {
  margin-right: 22px;
}

/* 
* Jumbotron 
*/

.jumbotron h1 {
  color: #FED402;
}

/*
* list-group
*/

.list-group {
  color: #333;
  border-radius: 0px;
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-group-item.active, 
.list-group-item.active:hover, 
.list-group-item.active:focus {
  text-shadow: 0 0 2px #000000;
  background-image: none;
  background-color: #FED402;
  color: #fff;
}

.list-group-item.active .list-group-item-text, 
.list-group-item.active:hover .list-group-item-text, 
.list-group-item.active:focus .list-group-item-text {
  text-shadow: none;
}
