{% extends "skeleton.html" %}
{% set active_page = "Graph" %}

{% block pageContainer %}

<script src={{ url_for('static', filename='js/plugins/sigmajs/sigma.min.js') }}></script>
<script src={{ url_for('static', filename="js/plugins/sigmajs/sigma.parsers.json.min.js") }}></script>
<script src={{ url_for('static', filename="js/plugins/sigmajs/sigma.parsers.gexf.min.js") }}></script>
<script src={{ url_for('static', filename="js/plugins/sigmajs/sigma.layout.forceAtlas2.min.js") }}></script>

<script src={{ url_for('static', filename="js/my_script.js") }}></script>


                        <form name="display_pageranks">
                            <div class="form-group">
                                <input type="range" name="Range" id="pr-range"
                                       value="0.50"max="1" min="0" step="0.05"
                                       onchange="print_pageranks(1-parseFloat(this.value));">
                            </div>
                        </form>

                        <form name="display_edges">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="Checkboxedges"
                                    onClick="print_edges()">Afficher arêtes
                                </label>
                            </div>
                        </form>

                        <form name="display_clusters">
                            <div class="form-group">
                            <label>Choix des clusters</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster16"
                                            name="Checkboxclusters"    checked="checked" value="16">Gouvernement
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster0"
                                             name="Checkboxclusters"   checked="checked" value="0">LR
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster5"
                                            name="Checkboxclusters"    checked="checked" value="5">PS & Ecolos
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster2"
                                           name="Checkboxclusters"     checked="checked" value="2">Divers 2
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster11"
                                            name="Checkboxclusters"    checked="checked" value="11">EM
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster4"
                                            name="Checkboxclusters"   checked="checked" value="4">FN
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster15"
                                            name="Checkboxclusters"   checked="checked" value="15">Divers 1
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster10"
                                             name="Checkboxclusters"  checked="checked" value="10">FI
                                    </label>
                            </div>
                        </form>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>Sigma.js example</h3>
                            </div>
                            <div class="panel-body">
                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="sigma-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<script>
document.getElementById("checkCluster16").addEventListener ("click", print_clusters, false);
document.getElementById("checkCluster0").addEventListener ("click", print_clusters, false);
document.getElementById("checkCluster5").addEventListener ("click", print_clusters, false);
document.getElementById("checkCluster2").addEventListener ("click", print_clusters, false);
document.getElementById("checkCluster11").addEventListener ("click", print_clusters, false);
document.getElementById("checkCluster4").addEventListener ("click", print_clusters, false);
document.getElementById("checkCluster15").addEventListener ("click", print_clusters, false);
document.getElementById("checkCluster10").addEventListener ("click", print_clusters, false);
</script>

<!--<script>-->
    <!--range_button = document.getElementById("pr-range")-->
    <!--range_button.addEventListener ("click", function() {-->
        <!--console.log(range_button.value);-->
    <!--}, false);-->
<!--</script>-->

<script>
    /**
** BORDER AROUND NODES
*/

    ;(function(undefined) {

  /**
   * Sigma Node Border Custom Renderer
   * ==================================
   *
   * The aim of this simple node renderer is to enable the user to display
   * colored node borders.
   *
   * Author: Guillaume Plique (Yomguithereal)
   * Version: 0.0.1
   */

  sigma.canvas.nodes.border = function(node, context, settings) {
    var prefix = settings('prefix') || '';

    context.fillStyle = node.color || settings('defaultNodeColor');
    context.beginPath();
    context.arc(
     node[prefix + 'x'],
     node[prefix + 'y'],
     node[prefix + 'size'],
     0,
     Math.PI * 2,
     true
    );

    context.closePath();
    context.fill();

    context.lineWidth = node.borderWidth || 1;
    context.strokeStyle = '#fff';
    context.stroke();
  };
}).call(this);
</script>
<script>
  // Add a method to the graph model that returns an
  // object with every neighbors of a node inside:
  sigma.classes.graph.addMethod('neighbors', function(nodeId) {
    var k,
        neighbors = {},
        index = this.allNeighborsIndex[nodeId] || {};

    for (k in index)
      neighbors[k] = this.nodesIndex[k];

    return neighbors;
  });
</script>
<script>
var s = new sigma();

s.addRenderer({
  container: 'sigma-container',
  type: 'canvas'
  }
);

s.settings('minNodeSize', 0.001);
s.settings('maxNodeSize', 4);
s.refresh()

sigma.parsers.gexf(
    "{{ url_for('static', filename='data/Big_component_reduced.gexf') }}",
    s,
    function(graph) {
        load_graph(s);
        s.refresh()
        }
);

</script>

{% endblock %}