{% extends "skeleton.html" %}
{% set active_page = "Graph" %}

{% block pageContainer %}

<script src={{ url_for('static', filename='js/plugins/sigmajs/sigma.min.js') }}></script>
<script src={{ url_for('static', filename="js/plugins/sigmajs/sigma.parsers.json.min.js") }}></script>
<script src={{ url_for('static', filename="js/plugins/sigmajs/sigma.parsers.gexf.min.js") }}></script>
<script src={{ url_for('static', filename="js/plugins/sigmajs/sigma.layout.forceAtlas2.min.js") }}></script>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>Sigma.js example</h3>
                            </div>
                            <div class="panel-body">
                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="sigma-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<script>
var s = new sigma();

s.addRenderer({
  container: 'sigma-container',
  edgeColor: 'default',
});

sigma.parsers.gexf(
'/static/Hamon_enriched.gexf',
s,
function() {
    s.refresh();
}
);

s.startForceAtlas2();

</script>

{% endblock %}