{% extends "skeleton.html" %}
{% set active_page = "Graph" %}
{% set subheading = 'Visualisation du graphe des politiques' %}
{% set icon = "icon-512" %}

{% block pageContainer %}

<script src={{ url_for('static', filename='js/plugins/sigmajs/sigma.min.js') }}></script>
<script src={{ url_for('static', filename="js/plugins/sigmajs/sigma.parsers.json.min.js") }}></script>
<script src={{ url_for('static', filename="js/plugins/sigmajs/sigma.parsers.gexf.min.js") }}></script>
<script src={{ url_for('static', filename="js/plugins/sigmajs/sigma.layout.forceAtlas2.min.js") }}></script>

<script src={{ url_for('static', filename="js/my_script.js") }}></script>

</span>
                <div class="jumbotron">
                    <p>Ce graphe a été obtenu à partir de données récupérées sur Twitter durant les six derniers mois. Il a été construit de la manière suivante :</p>
                    <ul>
                    <li>Chaque noeud est le compte Twitter d'une personnalité, d'un parti ou d'une institution de la scène politique française. On compte environ 2500 noeuds dans ce graphe.</li>
                    <li>Un lien est tracé d'un noeud X vers un noeud Y si le compte X a retweeté le compte Y au moins une fois durant les six derniers mois.</li>
                    </ul>
                </div>


                        <form name="display_pageranks">
                            <div class="form-group">
                            Déplacer le curseur vers la gauche pour n'afficher que les noeuds les plus importants.
                                <input type="range" name="Range" id="pr-range"
                                       value="0.1"max="1" min="0" step="0.05"
                                       onchange="print_pageranks(1-parseFloat(this.value));">
                            </div>
                        </form>

                        <form name="display_edges">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="Checkboxedges"
                                    onClick="print_edges()">Afficher arêtes
                                </label>
                            </div>
                        </form>

                        <form name="display_clusters">
                            <div class="form-group">
                            <label>Choix des clusters</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster1"
                                            name="Checkboxclusters"  onClick="print_clusters()"  checked="checked" value=1>NC
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster2"
                                             name="Checkboxclusters"  onClick="print_clusters()" checked="checked" value=2>Gvt
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster3"
                                            name="Checkboxclusters"  onClick="print_clusters()"  checked="checked" value=3>LR
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster4"
                                           name="Checkboxclusters"   onClick="print_clusters()"  checked="checked" value=4>LR/UDI
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster5"
                                            name="Checkboxclusters"  onClick="print_clusters()"  checked="checked" value=5>EELV
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster6"
                                            name="Checkboxclusters" onClick="print_clusters()"  checked="checked" value=6>PS
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster7"
                                            name="Checkboxclusters"  onClick="print_clusters()" checked="checked" value=7>EM
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster8"
                                             name="Checkboxclusters" onClick="print_clusters()" checked="checked" value=8>Modem
                                    </label>
                                     <label class="checkbox-inline">
                                        <input type="checkbox" id="checkCluster9"
                                             name="Checkboxclusters" onClick="print_clusters()" checked="checked" value=9>FN
                                    </label>
                            </div>
                        </form>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Graphe des retweets</h3>
                            </div>
                            <div class="panel-body">
                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="sigma-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<script>
document.getElementById("checkCluster1").addEventListener ("click", print_clusters, false);
document.getElementById("checkCluster2").addEventListener ("click", print_clusters, false);
document.getElementById("checkCluster3").addEventListener ("click", print_clusters, false);
document.getElementById("checkCluster4").addEventListener ("click", print_clusters, false);
document.getElementById("checkCluster5").addEventListener ("click", print_clusters, false);
document.getElementById("checkCluster6").addEventListener ("click", print_clusters, false);
document.getElementById("checkCluster7").addEventListener ("click", print_clusters, false);
document.getElementById("checkCluster8").addEventListener ("click", print_clusters, false);
document.getElementById("checkCluster9").addEventListener ("click", print_clusters, false);
</script>


<script>
    /**
** BORDER AROUND NODES
*/

    ;(function(undefined) {

  /**
   * Sigma Node Border Custom Renderer
   * ==================================
   *
   * The aim of this simple node renderer is to enable the user to display
   * colored node borders.
   *
   * Author: Guillaume Plique (Yomguithereal)
   * Version: 0.0.1
   */

  sigma.canvas.nodes.border = function(node, context, settings) {
    var prefix = settings('prefix') || '';

    context.fillStyle = node.color || settings('defaultNodeColor');
    context.beginPath();
    context.arc(
     node[prefix + 'x'],
     node[prefix + 'y'],
     node[prefix + 'size'],
     0,
     Math.PI * 2,
     true
    );

    context.closePath();
    context.fill();

    context.lineWidth = node.borderWidth || 1;
    context.strokeStyle = '#fff';
    context.stroke();
  };
}).call(this);
</script>
<script>
  // Add a method to the graph model that returns an
  // object with every neighbors of a node inside:
  sigma.classes.graph.addMethod('neighbors', function(nodeId) {
    var k,
        neighbors = {},
        index = this.allNeighborsIndex[nodeId] || {};

    for (k in index)
      neighbors[k] = this.nodesIndex[k];

    return neighbors;
  });
</script>
<script>
var s = new sigma();

s.addRenderer({
  container: 'sigma-container',
  type: 'canvas'
  }
);

s.settings('minNodeSize', 0.001);
s.settings('maxNodeSize', 4);
s.settings("hideEdgesOnMove", true);
s.refresh()

sigma.parsers.json(
    "./data_" + {{ graph_index }} +".json",
    s,
    function(graph) {
        load_graph(s);
        s.refresh()
        }
);


</script>

{% endblock %}