<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visu sigmajs</title>
    <style>
        #network-graph {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
    </style>
</head>
<body>
Coucou
<div id="network-graph">gsdfgsd</div>
Kikou
<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.0/sigma.min.js"></script>
<script src="https://raw.githubusercontent.com/jacomyal/sigma.js/master/plugins/sigma.parsers.json/sigma.parsers.json.js"></script>

<script>
data = {
  "nodes": [
    {
      "id": "n0",
      "label": "A node",
      "x": 0,
      "y": 0,
      "size": 3
    },
    {
      "id": "n1",
      "label": "Another node",
      "x": 3,
      "y": 1,
      "size": 2
    },
    {
      "id": "n2",
      "label": "And a last one",
      "x": 1,
      "y": 3,
      "size": 1
    }
  ],
  "edges": [
    {
      "id": "e0",
      "source": "n0",
      "target": "n1"
    },
    {
      "id": "e1",
      "source": "n1",
      "target": "n2"
    },
    {
      "id": "e2",
      "source": "n2",
      "target": "n0"
    }
  ]
}

s = new sigma
  graph: data
  container: 'network-graph'
  settings:
    defaultNodeColor: '#ec5148'

s.refresh()
</script>

</body>
</html>