{% extends "skeleton.html" %}
{% set active_page = "Stats" %}
{% set subheading = 'Statistiques détaillées par cluster' %}
{% set icon = "icon-bar-chart" %}

{% block pageContainer %}


                <form role="form">
                    <div class="form-group" style="width: 50%">
                        <label>Choix du cluster</label>
                        <select id="cluster_select" class="form-control"
                                onchange="change_cluster_stats(parseFloat(this.value))">
                            {% for i, value, label in graph_names %}
                                <option value={{i}}>Cluster {{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>


                <div class="row">
                    <div class="col-lg-6 text-center">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-calculator"></i> Statistiques générales</h3>
                            </div>
                            <div class="panel-body">
                                <div id="stats_container" style="position: relative;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="icon-bar-chart"></i> Top influenceurs</h3>
                            </div>
                            <div class="panel-body" id="barChartContainer">
                                <canvas id="barChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="text-align: center"><i class="icon-512"></i> Graphe des retweets</h3>
                            </div>
                            <div class="panel-body" style="overflow: auto">
                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="sigma-container"
                                         style="overflow: auto">
                                        <div class="loader-box" id="loader-container" style="overflow: auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-cloud"></i> Nuage de hashtags</h3>
                            </div>
                            <div class="panel-body" style="overflow: auto;">
                                <div id="demo" style="position: relative; height:350px">
                                    <div class="loader-box" id="loader-container2" style="overflow: auto">
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

<!-- AFFICHAGE GRAPHE -->
<script>
var s = new sigma();

var cl = new CanvasLoader('loader-container');
cl.setColor('#337ab7'); // default is '#000000'
cl.setDiameter(60); // default is 40
cl.show(); // Hidden by default

var cl2 = new CanvasLoader('loader-container2');
cl2.setColor('#337ab7'); // default is '#000000'
cl2.setDiameter(60); // default is 40
cl2.show(); // Hidden by default

var barchart_ctx = document.getElementById("barChart");
var myBarChart = new Chart(barchart_ctx, {
    type: 'bar',
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                }
            }]
        }
    }
});

$('#demo').jQCloud({},{
  autoResize: true
});

pr_range = 0.2;
var graph_data;
$.getJSON(
    "./data_" + {{ graph_index }} +".json",
    function(data) {
        graph_data = data;
        change_cluster_stats(parseFloat($( "#cluster_select" ).val()));
    });
</script>


{% endblock %}